
.queue {

    .queue-item {
        display: flex;

        .queue-check {
            width: 10%;
        }
        .queue-content {
            width: 70%;
        }
        .queue-duration {
            width: 20%;
            text-align: center;

            input[type="number"] {
                display: block;
                margin: 0 auto;
                width: 10rem;
                max-width: 100%;
            }
        }
    }

    .item-image {
        width: 100%;
        padding-bottom: 56.25%;
        background-color: black;
    }

}

.queue__pagination {
    width: 100%;
    text-align: center;
}
